.calculator {
	width: 100%;
}

.calculator__container {
	width: 100%;
	display: flex;
	gap: 20px;
}

.section__title {
}
.calculator__section-title {
	width: 100%;
	grid-column: 2 span;
}
.calculate {
	width: 100%;
	border-radius: 15px;
	padding: 30px;
	background-color: #fff;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	align-items: flex-start;
}
.calculate__left {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: flex-start;
}
.calculate__radio_btn-type_insurance {
	padding: 5px;
	border-radius: 15px;
	background-color: var(--color-bg-secondary);
}

.form_radio_btn {
}

.calculate__vehicle__name {
}

.calculate__details {
	padding: 5px;
	display: grid;
	grid-template-columns: 60% 40%;
	/* grid-template-rows: 1fr 1fr; */
	flex-wrap: wrap;
	background-color: var(--color-bg-secondary);
	border-radius: 15px;
	/* gap: 10px; */
    width: 100%;
}
.input {
	border: 1px solid var(--color-text-light);
	border-radius: 15px;
	padding: 15px;
	background-color: var(--color-bg-secondary);
	line-height: 1;
	font-size: 16px;
	color: #262626;
}
.input::placeholder {
	color: var(--color-text-light);
}
.calculate__input-user_name {
	grid-column: 1/-1;
	grid-row: 1/2;
}

.calculate__input-user_plate {
	grid-row: 2/3;
	grid-column: 1/2;
    position: relative;
}
.plate{
	/* position: relative;	 */
}
.plate::after{
	content: "";
	width: 100px;
	height: 100px;
	/* background-color: red; */
	background-image: url(../../images/card/nomer.svg);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	background-position: center;
	right: 40px;
	bottom: 20px;
}
.calculate__input-user_plate::before{
}

.calculate__btn-confirm {
	grid-row: 2/3;
	grid-column: 2/3;
	padding: 10px 20px;
	color: #fff;
	background-color: var(--color-primary);
	border-radius: 15px;
}

.calculate__info {
	width: 100%;
	padding: 5px;
	background-color: var(--color-bg-secondary);
	display: flex;
	gap: 5px;
	border-radius: 15px;
	flex-direction: column;
}
.req__title {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.calculate__requirements__title {
}
.req__btn_open-list {
}
.calculate__info-title {
}
.dop__uslugi {
	background-color: #fff;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 15px;
}
.calculate_chekbox {
}
.calculate__requirements {
	background-color: #fff;
	padding: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.calculate__requirements__title {
}
.requirements__list {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding-left: 20px;
}
.requirement {
	padding-top: 5px;
	color: var(--color-text-light);
}

.form_radio_btn {
    transition: all .3s ease;
	display: inline-block;
	margin-right: 10px;
}
.form_radio_btn input[type='radio'] {
	display: none;
}
.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	color: var(--color-text-light);
	border-radius: 15px;
	user-select: none;
	padding: 10px 20px;
	border: 1px solid transparent;
}
.form_radio_btn input[type='radio']:checked + label {
	border: 1px solid var(--color-primary);
	border-radius: 15px;
	padding: 10px 20px;
	color: var(--color-primary);
}
.form_radio_btn label:hover {
	color: #666;
}
.drop-list {
	display: none;
	transition: all 0.3s ease;
}
.drop-list.open {
	display: block;
}
.btn_open-list {
	transition: all 0.3s ease;
}
.btn_open-list.rotated {
	transform: rotate(180deg);
	transition: transform 0.3s ease;
}
