.calculator {
	width: 100%;
}

.calculator__container {
	width: 100%;
	display: flex;
	gap: 20px;
}
.calculator__section-title {
	width: 100%;
	grid-column: 2 span;
}
.calculate {
	width: 100%;
	border-radius: 15px;
	padding: 30px;
	background-color: #fff;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	align-items: flex-start;
	position: relative;
}
.calculate__left {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: flex-start;
}
.calculate__radio_btn-type_insurance {
	padding: 5px;
	border-radius: 15px;
	background-color: var(--color-bg-secondary);
}
.calculate__details {
	padding: 5px;
	display: grid;
	grid-template-columns: 60% 40%;
	/* grid-template-rows: 1fr 1fr; */
	flex-wrap: wrap;
	background-color: var(--color-bg-secondary);
	border-radius: 15px;
	gap: 10px;
	width: 100%;
}
.input {
	/* max-width: 98%; */
	border: 1px solid var(--color-text-light);
	border-radius: 15px;
	padding: 15px;
	background-color: var(--color-bg-secondary);
	line-height: 1;
	font-size: 16px;
	color: #262626;
}
.input::placeholder {
	color: var(--color-text-light);
}
.calculate__input-user_name {
	grid-column: 1/-1;
	grid-row: 1/2;
}
.calculate__input-user_plate {
	z-index: 2;

	position: relative;
	width: 100%;
}
.platee{
	grid-row: 2/3;
	grid-column: 1/2;
	position: relative;
}
.platee::after{
	content: "";
	pointer-events: none;
	position: absolute;
	width: 107px;
	height: 18px;
	background-image: url('../../images/card/nomer.svg');
	background-size: cover;
	background-repeat: no-repeat;
	top: 15px;
	right: 15px;
	z-index: 3;
}
.calculate__input-user_plate:active .platee::after{
	display: none;
}
.calculate__input-user_plate:focus-within .platee::after {
    display: none;
}
.calculate__btn-confirm {
	grid-row: 2/3;
	grid-column: 2/3;
	padding: 10px 20px;
	color: #fff;
	background-color: var(--color-primary);
	border-radius: 15px;
}
.calculate__info {
	width: 100%;
	padding: 5px;
	background-color: var(--color-bg-secondary);
	display: flex;
	gap: 5px;
	border-radius: 15px;
	flex-direction: column;
}
.req__title {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dop__uslugi {
	background-color: #fff;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 15px;
}
.calculate__requirements {
	background-color: #fff;
	padding: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.requirements__list {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding-left: 20px;
}
.requirement {
	padding-top: 5px;
	color: var(--color-text-light);
}

.form_radio_btn {
	transition: all 0.3s ease;
	display: inline-block;
	margin-right: 10px;
}
.form_radio_btn input[type='radio'] {
	display: none;
}
.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	color: var(--color-text-light);
	border-radius: 15px;
	user-select: none;
	padding: 10px 20px;
	border: 1px solid transparent;
}
.form_radio_btn input[type='radio']:checked + label {
	border: 1px solid var(--color-primary);
	border-radius: 15px;
	padding: 10px 20px;
	color: var(--color-primary);
}
.form_radio_btn label:hover {
	color: #666;
}
.drop-list {
	display: none;
	transition: all 0.3s ease;
}
.drop-list.open {
	display: block;
}
.btn_open-list {
	transition: all 0.3s ease;
}
.btn_open-list.rotated {
	transform: rotate(180deg);
	transition: transform 0.3s ease;
}
.card__info3 {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.card__info3-name {
	width: 100%;
	font-weight: 600;
	font-size: 13px;

	color: #000;
}
.checkbox-other {
}
.ci__bl {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.ci3__text {
}

.checkbox-other {
	display: block;
	margin: 0 0 10px 0;
	cursor: pointer;
	user-select: none;
	position: relative;
}
.checkbox-other input[type='checkbox'] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.checkbox-other span {
	display: inline-block;
	position: relative;
	padding: 0 0 0 35px;
	line-height: 22px;
}
.checkbox-other span:before {
	content: '';
	display: inline-block;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 8px;
	top: -6px;
	transition: background 0.3s ease;
	background: url(../../images/card/filter/Groupun60.png) 0 0 no-repeat;
}

/* Checked */
.checkbox-other input[type='checkbox']:checked + span:before {
	background-image: url(../../images/card/filter/Group60.png);
}

/* ../../assets/images/card/filter/Group60.png */
/* Focus */
.focused span:before {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Hover */
.checkbox-other span:hover:before {
	filter: brightness(110%);
}

/* Active */
.checkbox-other span:active:before {
	filter: brightness(80%);
}