.catalog-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	max-width: 100%;
	max-width: 1234px;
}
.catalog__item{
	grid-column: span 1;
	max-width: 283px;
}
.catalog__card{
	border: 1px solid #ebebeb;
	cursor: pointer;
	transition: .3s ease-in-out;
}
.catalog__card:hover{
	/* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25); */
	transition: .3s ease-in-out;
	background-color: #f8f8f8;
}
.catalog__card {
	background-color: #fff;
	border-radius: 15px;
    padding: 20px;
	height: 300px;
    display: flex;
    flex-direction: column;
	cursor: default;
}
.card__top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin-bottom: 6px;
}
.card__title {
	width: 100%;
	font-weight: 600;
}
.card__btn-more {
	transition: all 0.3s ease-in-out;
	font-size: 0.875rem;
	line-height: 1.4rem;
	padding: 1px 15px 3px 15px;
	border-radius: 20px;
	border: 0.5px solid #1924b1;
	color: var(--color-primary);
}
.card__btn-more:hover {
	background-color: var(--color-primary);
	color: #fff;
}
.card__desc {
    flex: 1;
	width: 100%;
}