.faq__container {
    width: 100%;
    background: #fff;
    border-radius: 15px;
    padding: 30px;
    /* display: flex;
    flex-direction: column;
    gap: 20px; */
}
.faq__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.faq__item {
    
    background: #f6f6f6;
    padding: 15px 20px;
}
.faq__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* .faq__item:hover .faq__item-title {
    color: var(--color-primary);
} */
.faq__item-desc{
    padding-left: 20px;
 }
.faq__item-desc li {
    list-style: decimal;
    color: var(--color-text-light);
    margin-top: 10px;
}
.faq__toggle.rotated .asd {
    stroke: var(--color-primary);
}
.dropdown__list.open + .faq__item-title {
    color: var(--color-primary);
}


.fd{
    color: var(--color-text-light);
}

.block {
    margin: 0 0 0px 0;
}

.block__item {
	margin-bottom: 20px;
    margin: 0 0 10px 0;
    padding: 15px 20px;
    background-color: #f6f6f6;
    border-radius: 10px;
}
.block__title {
    width: 100%;
    text-align: left;
    font-size: 18px;
    background-color: transparent;
    color: var(--color-text);
    /* padding: 10px; */
    position: relative;
}
.block__title:hover{
    color: var(--color-primary);
}
.block._init .block__title {
    cursor: pointer;
}
.block._init .block__title::before, 
.block._init .block__title::after {
    content:"";
    width: 14px;
    height: 2px;
    background-color: var(--color-text);
    position: absolute;
    right: 10px;
    top: 20px;
    transition: transform .3s ease 0s;
}

.block._init .block__title::before {
    transform: rotate(45deg) translateX(-10px);
    right: 7px;
}

.block._init .block__title._active::before {
    transform: rotate(-45deg) translateX(-10px);
    top: 5px;
}
.block._init .block__title::after {
    transform: rotate(-45deg) translateX(10px);
    right: 13px;
}

.block._init .block__title._active::after {
    top: 5px;
    transform: rotate(45deg) 
	translateX(10px);
}

.block__text {
    /* padding: 0 10px 10px; */
    line-height: 130%;
	margin-top: 10px;
    color: var(--color-text);

}
.block_1 {
    background-color: transparent;
}
.block__btn{
	margin-top: 10px;
	display: flex;
	gap: 10px;
	padding: 10px 20px;
	background-color: #2A2A2A;
}
