.sercices__container {
	background-color: #fff;
	border-radius: 15px;
	padding: 30px;
}
.services__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 20px;
}
.service__item {
	background-color: var(--color-bg-secondary);
	padding: 20px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	width: 100%;
	transition: 0.3s ease-in-out;
	cursor: pointer;
	border: 1px solid #ebebeb;
	position: relative;
}
.service__item:hover {
	/* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25); */
	background: #f5f4f4;
	transition: 0.3s ease-in-out;
}
.service__item:hover h4 {
	color: var(--color-primary);
}
.service__item:active {
	/* box-shadow: 0 0px 0 rgba(0, 0, 0, 0.25); */
}
.service-1 {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 10px;
	justify-content: center;
	height: 100%;
}
.service__title {
	width: 100%;
}
.service__item-1 {
	grid-row: 1/-1;
	grid-column: 1/3;
	height: 250px;
}
.service__item-1::after {
	content: '';
	background-image: url(../../images/services/service-icon-1.svg);
    background-size: contain;
	width: 100px;
	height: 100px;
	position: absolute;
	right: 10%;
	bottom: 10%;
}
.service__item-2 {
	grid-row: 1/2;
	grid-column: 3/4;
}
.service__item-3 {
	grid-row: 1/2;
	grid-column: 4/5;
}
.service__item-4 {
	grid-row: 2/3;
	grid-column: 3/5;
}
.service__item-4::after {
	content: '';
	background-image: url(../../images/services/service-icon-2.svg);
	width: 100px;
	height: 100px;
	position: absolute;
	right: 5%;
	bottom: 0;
}
.service__desc {
	flex: 1;
}
.service__btn-extend {
	font-size: 0.9rem;
	font-weight: 600;
	color: var(--color-primary);
	transition: 0.3s ease-in-out;
}
.service__btn-extend:hover {
	color: #4e54ae;
	transition: 0.3s ease-in-out;
}
