.support__container {
  border-radius: 15px;
  /* border: 1px solid #ebebeb; */
  border-top: none;
  background-color: #fff;
  padding: 30px;
}
.support-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.support__title {
  width: 100%;
}
.support__item {
  background-color: var(--color-bg-secondary);
  border-radius: 15px;
  padding: 20px 15px;
  cursor: pointer;
  border: 1px solid #ebebeb;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: start;
}
.support__item a {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  transition: 0.3s ease-in-out;
}
.support__item:hover .section__title {
  color: var(--color-primary);
  transition: 0.3s ease-in-out;
}
.support__item:hover {
  color: var(--color-primary);
  background: #f5f4f4;
  transition: 0.3s ease-in-out;
}
.support__item-icon {
  margin-right: 5px;
}
.support__item-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-row: 1/-1;
  grid-column: 1/3;
}
.support__item-2 {
  grid-row: 1/2;
  grid-column: 3/4;
}
.support__item-3 {
  grid-row: 1/2;
  grid-column: 4/5;
}
.support__item-4 {
  grid-row: 2/-1;
  grid-column: 3/-1;
}
